{
  

  "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
  "rules": {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "comma-dangle": "off",
    "no-console": 0,
    "no-extra-semi": 0
  },
  "globals": {
    "fetch": false
  }
  
}
